<!-- **************************************************************-->
<!-- *                                                            *-->
<!-- *    .=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-.      *-->
<!-- *    |                     ______                     |      *-->
<!-- *    |                  .-"      "-.                  |      *-->
<!-- *    |                 /            \                 |      *-->
<!-- *    |     _          |              |          _     |      *-->
<!-- *    |    ( \         |,  .-.  .-.  ,|         / )    |      *-->
<!-- *    |     > "=._     | )(__/  \__)( |     _.=" <     |      *-->
<!-- *    |    (_/"=._"=._ |/     /\     \| _.="_.="\_)    |      *-->
<!-- *    |           "=._"(_     ^^     _)"_.="           |      *-->
<!-- *    |               "=\__|IIIIII|__/="               |      *-->
<!-- *    |              _.="| \IIIIII/ |"=._              |      *-->
<!-- *    |    _     _.="_.="\          /"=._"=._     _    |      *-->
<!-- *    |   ( \_.="_.="                    "=._"=._/ )   |      *-->
<!-- *    |    > _.="                            "=._ <    |      *-->
<!-- *    |   (_/                                    \_)   |      *-->
<!-- *    |                                                |      *-->
<!-- *    '-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-='      *-->
<!-- *                                                            *-->
<!-- *           LASCIATE OGNI SPERANZA, VOI CH'ENTRATE           *-->
<!-- **************************************************************-->
<!-- 小正科技版权所有  作者小正QQ:1419158026  Full stack programmer!-->
<!-- 最后装订时间:                      维护人员:小正               -->
<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- 引入JS框架 -->
    <script src="/static/js/jquery-3.4.1.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/js/layui/css/layui.css">
    <!-- 引入组件库 -->
    <script src="/static/js/layui/layui.all.js"></script>
    <!-- 引入核心JS-->
    <script src="/static/js/main.js" type="module"></script>
    <title>博客首页</title>
    <style type="text/css">
        .cardBox {
            width: 500px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
            text-align: center;
            float: left;
            margin-right: 10px;
            padding: 5px;
            padding-top: 15px;
        }

        .headerBox {
            color: #fff;
            padding: 10px;
            font-size: 15px;
            height: 20px;
        }

        .bodyBox {
            padding: 10px;
        }

        .bodyBox p {
            margin-left: 5px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">小正的博客系统Txet</div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">首页</a></li>
            <li class="layui-nav-item">
                <dl class="layui-nav-child">
                    <!-- 此功能遍历map等待上线 -->
                    <dd><a href="">测试文档类A</a></dd>
                    <dd><a href="">测试文档类B</a></dd>
                    <dd><a href="">测试文档类C</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <!--            <div class="layui-card" th:each="Doc : ${listDoc}">
                            <div class="layui-card-header" th:text="${Doc.getDocclass()}"></div>
                            <div class="layui-card-body" th:text="${Doc.getTabname()}"></div>
                            <a class="layui-btn layui-btn-normal" th:href="'/api/doc/show_id/' + ${Doc.getId()}">阅读</a>
                        </div>-->
            <div class="cardBox" th:each="Doc : ${listDoc}">
                <div class="headerBox" style="background-color: #4caf50;">
                    <p th:text="${Doc.getTabname()}">
                        <!--                        <a title="阅读" style="cursor: pointer; color:white"
                                                   th:href="'/api/doc/show_id/' + ${Doc.getId()}" th:text="${Doc.getTabname()}">文档标题</a>-->
                    </p>
                </div>
                <div class="bodyBox">
                    <p th:text="'类型: '+${Doc.getDocclass()}">文档类型</p>
                    <p th:text="'发布时间: '+${Doc.getDate()}">文档发布时间</p>
                    <p>
                        点赞: <span class="layui-badge" th:text="${Doc.getDj()}"></span>
                    </p>
                    <p>
                        浏览: <span class="layui-badge" th:text="${Doc.getLl()}"></span>
                    </p>
                </div>
                <a class="layui-btn layui-btn-normal" th:href="'/api/doc/show_id/' + ${Doc.getId()}">阅读</a>
                <a class="layui-btn layui-btn-danger" th:href="'/api/doc/dz/' + ${Doc.getId()}">点赞</a>
            </div>
        </div>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 小正科技版权所有
    </div>
</div>
</body>
</html>
