<!-- **************************************************************-->
<!-- *                                                            *-->
<!-- *    .=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-.      *-->
<!-- *    |                     ______                     |      *-->
<!-- *    |                  .-"      "-.                  |      *-->
<!-- *    |                 /            \                 |      *-->
<!-- *    |     _          |              |          _     |      *-->
<!-- *    |    ( \         |,  .-.  .-.  ,|         / )    |      *-->
<!-- *    |     > "=._     | )(__/  \__)( |     _.=" <     |      *-->
<!-- *    |    (_/"=._"=._ |/     /\     \| _.="_.="\_)    |      *-->
<!-- *    |           "=._"(_     ^^     _)"_.="           |      *-->
<!-- *    |               "=\__|IIIIII|__/="               |      *-->
<!-- *    |              _.="| \IIIIII/ |"=._              |      *-->
<!-- *    |    _     _.="_.="\          /"=._"=._     _    |      *-->
<!-- *    |   ( \_.="_.="                    "=._"=._/ )   |      *-->
<!-- *    |    > _.="                            "=._ <    |      *-->
<!-- *    |   (_/                                    \_)   |      *-->
<!-- *    |                                                |      *-->
<!-- *    '-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-='      *-->
<!-- *                                                            *-->
<!-- *           LASCIATE OGNI SPERANZA, VOI CH'ENTRATE           *-->
<!-- **************************************************************-->
<!-- 小正科技版权所有  作者小正QQ:1419158026  Full stack programmer!-->
<!-- 最后装订时间:                      维护人员:小正               -->
<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- 引入JS框架 -->
    <script src="/static/js/jquery-3.4.1.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/js/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/mainIndex.css">
    <!-- 引入组件库 -->
    <script src="/static/js/layui/layui.all.js"></script>
    <!-- 引入核心JS-->
    <script src="/static/js/main.js" type="module"></script>
    <script src="/static/js/mainIndex.js" type="module"></script>
    <title>登陆</title>
</head>
<body>
<header>
    <div class="header-line" th:text="${msg}"></div>
</header>
<div class="content">
    <img class="content-logo" src="/static/img/001.png" alt="logo">
    <h1 class="content-title">登录</h1>
    <div class="content-form">
        <form id="loginform" method="post" action="/login">
            <div id="change_margin_1">
                <input class="user" type="text" name="username" placeholder="请输入用户名">
            </div>
            <!-- input的value为空时弹出提醒 -->
            <p id="remind_1"></p>
            <div id="change_margin_2">
                <input class="password" type="password" name="password" placeholder="请输入密码">
            </div>
            <!-- input的value为空时弹出提醒 -->
            <p id="remind_2"></p>
            <div id="change_margin_3">
                <input class="content-form-signup" type="submit" value="登录" onclick="login()">
            </div>
        </form>
    </div>
    <div class="content-login-description">没有账户？</div>
    <div><a class="content-login-link" href="reg.html">注册</a></div>
</div>
<script>
    function login() {
        var username = $(".user").val();
        var password = $(".password").val();
        var data = {username: username, password: password};
        layer.msg($("#loginform").serialize());
        console.log($("#loginform").serialize());
        /*$.post("/loginIs", $("#loginform").serialize(), function (data) {

        })*/
    }
</script>
</body>
</html>
